@* Asegúrate que la ruta sea exactamente esta *@
@await Html.PartialAsync("Layout/Navbar/Navbar")
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">SistemaFIME</a>
            @await Html.PartialAsync("Shared/Layout/Navbar/Navbar")
        </div>
    </nav>
</header>