@page "/"

<PageTitle>Inicio</PageTitle>

<h1>¡Hola, mundo!</h1>

Bienvenido a tu nueva aplicación SistemaFIME con Blazor Server.

<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>¿Cómo funciona esto?</strong>

    <p>
        Esta aplicación está construida con <strong>Blazor Server</strong> y <strong>PostgreSQL</strong>.
        Blazor Server ejecuta el código C# en el servidor y actualiza la interfaz de usuario 
        a través de una conexión SignalR en tiempo real.
    </p>
</div>